<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload/">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="video" /></td></tr>
            <tr><td>Image preview:</td><td><input type="file" name="preview" /></td></tr>
            <tr><td>Video name:</td><td><input type="text" name="name" /></td></tr>
            <tr><td>Video description:</td><td><input type="text" name="description" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>